<mat-sidenav-container>
  <mat-sidenav-content>
    <form [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>
      <!-- Name -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" formControlName="name" />
        <mat-error *ngIf="errorHandling('name', 'required')">
          You must provide a <strong>name</strong>
       </mat-error>
       <mat-error *ngIf="errorHandling('name', 'name.minLength')">
        You must provide a <strong>5 Char</strong>
     </mat-error>
      </mat-form-field>
      <!-- Email -->
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="email" />
        <mat-error *ngIf="errorHandling('email', 'required')">
          You must provide a <strong>email</strong>
       </mat-error>
      </mat-form-field>
      <!-- Gender -->
      <div class="misc-bottom-padding">
        <mat-label>Gender:</mat-label>
        <mat-radio-group aria-label="Select an option" formControlName="gender">
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group>
      </div>
     

      <mat-form-field appearance="fill" class="example-form-field">
        <mat-label>Enter DOB</mat-label>
        <input matInput [matDatepicker]="datepicker" formControlName="dob">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <!-- <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions> -->
        </mat-datepicker>
      </mat-form-field>
     
      <div formGroupName="address">
        <h2>Address</h2>
        <mat-form-field class="add">
          <input matInput placeholder="Street:" formControlName="street" /> 
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="city" formControlName="city" /> 
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="State" formControlName="state" /> 
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Zip Code" formControlName="zip" /> 
        </mat-form-field>
        </div>
      <!-- <mat-form-field>
        <input
          matInput
          readonly
          [matDatepicker]="picker"
          placeholder="Date of birth"
          formControlName="dob"
          (dateChange)="date($event)"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="errorHandling('email', 'required')">
          You must provide a <strong>DOB</strong>
       </mat-error>
      </mat-form-field> -->
      <!-- Class -->
      <mat-form-field>
        <mat-label>Grade</mat-label>
        <mat-select formControlName="grade">
          <mat-option [value]="gradeArray" *ngFor="let gradeArray of GradeArray"
            >{{ gradeArray }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      
      <!-- Add Subjects -->
      <mat-form-field class="multiple-items">
        <!-- <mat-chip-list #chipList>
          <mat-chip
            *ngFor="let subjectsArray of SubjectsArray"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(subjectsArray)"
          >
            {{ subjectsArray.name }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Add subjects"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-list> -->
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let subjectsArray of SubjectsArray" [selectable]="selectable" [removable]="removable"
          (removed)="remove(subjectsArray)">
          {{subjectsArray.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Add subjects" [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)">
       </mat-chip-list>
      </mat-form-field>
      
      <!-- Submit -->
      
     
      <div>
        <br>
        <label class="font-weight-bold">Resume</label>
        <br>
        <input (change)="onFileSelect($event)" type="file"  />
      </div>
      <br>
      <!--<div *ngIf="imageData">
        <img [src]="imageData" [alt]="form.value.name" />
      </div>-->
      
      <div class="button-wrapper">
        <button mat-flat-button color="primary" >Submit</button>
      </div>
    </form>
  </mat-sidenav-content>
</mat-sidenav-container>